* {
    margin: 0;
    padding: 0;
}
header {
    height: 10vh;
    display: flex;
    flex-direction: row;
}
header span {
    margin: auto 0.5%;
    font-weight: 500;
    font-size: 130%;
}
.weather-logo {
    height: 70%;
    width: 65px;
    margin: auto 1.5%;
    margin-right: 0;
}
.weather-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#root {
    height: 75vh;
}
footer {
    height: 15vh;
    display: flex;
    flex-direction: row;
}